/* REGOLE GENERALE DELLA PAGINA */
*{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url("../img/bodybg.png");
  font-family: sans-serif;
}

p{
  font-size: 13px;
}

.titles{
  padding-bottom: 15px;
  color: rgba(103, 68, 22, 0.92)
}
.container{
  width: 50vw;
  margin: auto;
}

/* PARTE DEDICATA ALLA HEADER */
header{
  margin-top: 5px;
  margin-bottom: 5px;
}

.fotocontainer{
  background-image: url("../img/headerbg.jpg");
  background-size: cover;
  height: 200px;
  border: 5px white solid;
  position: relative;
  text-align: center;
}

.fototitle{
  color: white;
  border: 5px solid white;
  padding: 10px;
  margin: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wordfoto{
  color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  padding-bottom: 10px;
}

.navbar{
  background-color: gray;
}

ul{
  list-style-type: none;
  overflow: hidden;
}

li{
  float: left;
}
li a{
  font-size: 12px;
  display: block;
  color: white;
  text-align: center;
  padding:10px 16px 10px 16px;
  text-decoration: none;
}

/* PARTE DEDICATA ALLA SECTION */
main{
  margin-top: 5px;
  margin-bottom: 5px;
}


/* contenitore di: feedpagina, contenutoprincipale, widget */
.floatcontainer{
}

.floatcontainer:after{
  content: "";
  display: table;
  clear: both;
}

.floatcontainer *{
  border-radius: 5px;
}

.feedpagina{
  float: left;
  width: 20%;
  background-color: white;
  padding: 10px;
}

.feedpaginasite{
  padding: 10px;
}

.contenutoprincipale{
  float: left;
  width: 50%;
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
}


/* all'interno ci sono altri blocchi */
.widget{
  float: left;
  width: 20%;
  position: relative;
}

.wid{
  background-color: white;
  margin-bottom: 20px;
  padding: 10px;
}


/* PARTE DEDICATA ALLA FOOTER */
footer{
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
  text-align: center;
  color: gray;
}

.copyright{
  padding: 20px;
  font-style: italic;
  border-bottom: 2px solid rgba(103, 68, 22, 0.92);
}

.sociallogo{
  display: inline-block;
  padding: 30px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 30px;
}
